<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cust.android.screencap"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">


    <receiver android:name="ScreenCapReceiver"><intent-filter><action android:name="com.android.util.ScreenCap"></action>
</intent-filter>
</receiver>
</application>


<uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER"></uses-permission>
<uses-permission android:name="android.permission.READ_FRAME_BUFFER"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 